.edit-sidebar__controls {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  height: 42px;
  padding: 12px 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  .edit-sidebar__controls {
    grid-column: 1 / -1;
  }
}
