.education-content {
  display: flex;
  gap: 36px;
  margin: 0 64px;
}

.education-content__left,
.education-content__right {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.education-content__right .school {
  font-weight: 700;
}
