.experience-content {
  display: flex;
  gap: 36px;
  margin: 0 64px;
}

.experience-content__left,
.experience-content__right {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.experience-content__right .company {
  font-weight: 700;
}
