.edit-sidebar {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 24px;
  flex: 1;
}

@media (max-width: 1024px) {
  .edit-sidebar {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 16px;
  }
}
